body{
    background-color:rgb(58, 58, 58);
}

li{
    color:white;
}

a{
    color: white;
}

li:hover{
    color: yellowgreen;
}

a:hover{
    color: yellowgreen;
}

h1{
    color:darkorange;
    text-align: center;
    border: 3px solid maroon;
    background-image: url(img4.jpg);
    background-size: 20%;
    /* to arrange the image */
}

h1:hover{
    color: tomato;
    border: 3px dashed yellowgreen;
}

p{
    color:salmon;
    /* text-align: center; */
    /* text align dosent work when we used display incline block so we have to use margin */
    border: 3px dotted darkviolet;
    padding: 0px 10px;
    display: inline-block;
    margin: 0px 0px 0px 850px;
}

p:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color:yellowgreen;
}

.boxmodel{
    border:5px solid rgb(255, 145, 0);
    color:white;
    display:inline-block;
    /* to arrenge in one line any element */
    /* margin: 20px; */
    /* margin will allow you to create space outside the border */
    /* here we only give g the margin */
}

.boxmodel:hover{
    background-color: rgba(255, 255, 255, 0.158);
    text-decoration: underline;
    /* you can give lines like underline or linethrough */
    color:rgb(0, 255, 21);
}

.a{
    padding: 5px;
    /* it will add space upper down right left all along 5px */
    margin:20px;
    /* it will add space all sides 20px */
}

.a:hover{
    border: none;
    /* it will remove the border */
}

.b{
    padding: 5px 20px 5px 20px;
    /* it will give space 5px at the top 20px at the right side 5px at bottom 20px at left side */
    margin: 0px 20px 0px 20px;
    /* it will give the space outside the border top 0px right 20px bottom 0px left 20px */
}

.b:hover{
    border:none;
}

.c{
    padding: 5px 20px;
    /* it will add space 5px upper and bottom 20px right andd left */
    margin: 5px 20px;
    /* it will add space to outside the border 5px to top and bottom and 20px to right and left */
}

.c:hover{
    border:none;
}

.a1{
    font-size: 20px;
    /* it will increase our text size */
    /* border: 5px solid white; */
    display:table-cell;
    /* it will attached the border to the text */
    /* i failed to make the position in the middel */
}

.b1{
    font-size: 20px;
    /* border: 5px dotted white; */
    display:table-cell;
    /* it will attached the border to the text but we can do that with padding also */
    /* i failed to make the position in middle */
    /* failed to align */
}

span{
    font-size: 2.5em;
    /* it multiply font size by its adjecent font size */
}

p > span{
    font-size: 2.5rem;
    /* it multiply the size not by adjesent text but by the html default size */
}